@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cześć!</h1>
    <p>Nazywam się Damian Jamroży, a oto program obsługujący mikro proces związany z rekrutaacją na studia. Zapoznaj się z dokumentacją projektu na <a href="https://github.com/DamianJamrozy/University-Admissions-Scoring-Engine" target="_blank">githubie</a>.</p>
    <!-- https://learn.microsoft.com/aspnet/core -->
    <a href="Algorytmy">Przejdź do zarządzania algorytmami.</a>
</div>
