@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Wszystkie prawa zastrzeżone! Projekt jest dostępny jedynie jako część portfolio. Zabrania się jego kopiowania, edytowania oraz jakiegokolwiek wykorzystania praktycznego.</p>
